---
import Layout from "@layouts/Layout.astro";
import "@styles/NeonButton.css"
---

<Layout title="Glowing Neon Button">
  <a href="#">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Neon Button
  </a>
  <a href="#">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Neon Button
  </a>
  <a href="#">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Neon Button
  </a>
</Layout>

