---
import "@styles/Sidebar.css";
import { Icon } from "astro-icon";
---

<aside>
  <p>Ic&#244;nes Icons</p>
  <a href="#">
    <Icon name="mdi:users" width="35" />
    My Drive
  </a>
  <a href="#">
    <Icon name="mdi:laptop" width="35" />
    Computer
  </a>
  <a href="#">
    <Icon name="mdi:monitor-multiple" width="35" />
    Shared With me
  </a>
  <a href="#">
    <Icon name="mdi:star" width="35" />
    Starred
  </a>
  <a href="#">
    <Icon name="mdi:trash" width="35" />
    Trash
  </a>
</aside>
