---
import "@styles/SocialMediaIcons.css";
import { Icon } from "astro-icon";
---

<div class="wrapper">
  <div class="icon facebook">
    <div class="tooltip">Facebook</div>
    <span>
      <Icon name="ri:facebook-fill" width="25" />
    </span>
  </div>
  <div class="icon twitter">
    <div class="tooltip">Twitter</div>
    <span>
      <Icon name="mdi:twitter" width="25" />
    </span>
  </div>
  <div class="icon instagram">
    <div class="tooltip">Instagram</div>
    <span>
      <Icon name="mdi:instagram" width="25" />
    </span>
  </div>
  <div class="icon github">
    <div class="tooltip">Github</div>
    <span>
      <Icon name="mdi:github" width="25" />
    </span>
  </div>
  <div class="icon youtube">
    <div class="tooltip">Youtube</div>
    <span>
      <Icon name="mdi:youtube" width="25" />
    </span>
  </div>
</div>
